@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html {
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

.header {
    width: 80%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.919);
    border-radius: 20px;
    margin-top: 40px;
}

.header:hover {
    animation: my-bg 3s linear infinite;
}

@keyframes my-bg {
    0% {
        background-color: crimson;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: rgba(0, 0, 0, 0.919);
    }
}

.container {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
}

.container-left {
    color: aliceblue;
    width: 100%;
}

.container-left h2 {
    font-size: 50px;
    font-weight: 700;
    text-transform: capitalize;
    font-family: "Poppins";
}

.container-left p {
    color: rgba(245, 245, 245, 0.649);
}

.container-left button {
    background-color: rgba(255, 0, 0, 0.96);
    padding: 10px 20px;
    color: aliceblue;
    border-radius: 5px;
    margin-bottom: 50px;
}

.container-left button i {
    padding-left: 8px;
}

.section-2 {
    margin: 0 auto;
    width: 80%;
    display: flex;
    margin-top: 100px;
}

.blogs {
    width: 220px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.919);
    border-radius: 8px;
    margin-right: 40px;
}

.blog-1 {
    color: aliceblue;
    display: grid;
    justify-items: center;
}

.blog-text1 {
    color: black;
    text-decoration: none;
    background-color: red;
    font-size: 14px;
    padding: 3px 35px;
    margin-top: 25px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    border: none;
}

.blog-text2 {
    background-color: white;
    padding: 8px 30px;
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
}

.blog-text3 {
    background-color: white;
    padding: 8px 15px;
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
}

.blog-text4 {
    background-color: white;
    padding: 12px 40px;
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
}

.blog-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    /* box-shadow: 1px 2px 2px gray; */
}

.blog-2img {
    /* padding: 20px 0px; */
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(239, 112, 112);
}

.flag-main {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-text {
    text-align: center;
}

/* .span {
    padding-bottom: 40px;
} */

.blog-2img img {
    width: 95%;
}

.h2-tag {
    font-size: 18px;
    margin-left: 8px;
    margin-right: 15px;
}

.germany {
    width: 120px;
}

.blog-text {
    padding: 10px 20px;
}

.fontawesome {
    display: flex;
    /* display: grid; */
    justify-content: space-between;
}

.portfolio {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.911);
    padding-left: 90px;
    padding-right: 90px;
}

.portfolio h2 {
    padding-top: 100px;
    padding-bottom: 50px;
    color: aliceblue;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    border-bottom: 1px dotted rgba(233, 228, 228, 0.93);
}

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    flex-wrap: wrap;
}

.portfolio-container li {
    list-style: none;
}

.portfolio-container li a {
    color: #fff;
    font-size: 22px;
    text-decoration: none;
    margin-left: 10px;
}

.icon-link {
    padding-bottom: 10px;
}

.icon-link a {
    padding: 10px 20px;
}

.icon-link {
    text-align: center;
    padding-bottom: 20px;
}

.fa-brands {
    color: white;
    border: 2px solid blue;
    padding: 20px;
    border-radius: 50%;
    font-size: 20px;
}

@media only screen and (max-width: 1024px) {

    /* [426px -> 600px]*/
    .header {
        width: 80%;
    }

    .section-2 {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
    }

    .portfolio-container {
        text-align: center;
    }

    .blog-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        justify-items: center;
        align-items: center;
        overflow-x: hidden;
        justify-content: center;
    }

    .blogs {
        width: 80%;
        height: 136px;
        background-color: rgba(0, 0, 0, 0.919);
        border-radius: 8px;
        margin: 0 auto;
    }

    .blog-1 {
        width: 80%;
        color: aliceblue;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 auto;
        padding-top: 20px;
    }

    .blog-2img {
        margin-left: 0px;
    }

    .blog-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
    }

    .container,
    .section-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .container-left {
        color: aliceblue;
        width: 100%;
        text-align: center;
    }

    .portfolio {
        padding: 0px;
    }
}

/* for mobile */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .header {
        width: 90%;
        margin: 0 auto;
        background-color: rgba(0, 0, 0, 0.919);
        border-radius: 20px;
        margin-top: 40px;
    }

    .container-left h2 {
        font-size: 30px;
        font-weight: 700;
        text-transform: capitalize;
        font-family: "Poppins";
    }

    .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .section-2 {
        display: flex;
        margin-top: 100px;
        flex-direction: column;
    }

    .blogs {
        height: 100%;
        background-color: rgba(0, 0, 0, 0.919);
        border-radius: 8px;
        width: 100%;
    }

    .blog-1 {
        width: 80%;
        color: aliceblue;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        padding-top: 20px;
    }

    .container-right img {
        width: 100%;
    }

    .blog-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio {
        padding: 0px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .portfolio-container {
        flex-direction: column !important;
    }
}